.closing-tag {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 50px;
  }
  
  .image {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
  }
  
  .closing {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 30px;
    max-width: 600px;
    padding: 20px;
    background: azure;
    color: #222;
    margin-left: 100px;
  
    h2 {
      font-size: 1.8rem;
      margin-bottom: 10px;
    }
  
    h3 {
      font-size: 1.5rem;
      margin-top: 20px;
    }
  
    p {
      font-size: 1rem;
      line-height: 1.5;
    }
  }
  

  @media (max-width: 769px) {
    .closing-tag {
      flex-direction: column;
      flex-wrap: wrap;
      padding: 20px;
      gap: 10px;
      width: 900px;
    }
  
    .image {
      margin-left: 0;
      margin-bottom: 20px;
    }
  
    .closing {
      padding: 15px;
      margin-left: 0;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
  
      h2 {
        font-size: 1.5rem;
      }
  
      h3 {
        font-size: 1.2rem;
      }
  
      p {
        font-size: 0.9rem;
      }
    }
  }