.introducing {
  background: azure;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  padding: 50px;
  width: 95%;
}

.image {
  max-width: 50%;
  margin-left: 90px;
  height: auto;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 50%;
  gap: 30px;

  .editor,
  .management {
    padding: 20px;
    border-radius: 10px;
    color: white;
    max-width: 600px;

    h2 {
      font-size: 1.8rem;
      margin-bottom: 10px;
      color: #666;
    }

    p {
      font-size: 1rem;
      line-height: 1.5;
      color: #666;
    }
  }
  .title{
    color: #666;
    margin-left: 100px;
    font-size: 10px;
  }
}

@media (max-width: 769px) {
  .introducing {
    flex-direction: column;
    padding: 20px;
    gap: 10px;
  }

  .image {
    max-width: 100%;
    margin-left: 0;
    margin-bottom: 20px;
  }

  .intro {
    width: 100%;
    gap: 20px;

    .editor,
    .management {
      padding: 15px;
      max-width: 100%;

      h2 {
        font-size: 1.5rem;
      }

      p {
        font-size: 0.9rem;
      }
    }
    .title {
      margin-left: 0;
      font-size: 8px;
    }
  }
}
