#root {
  max-width: 1600px;
  text-align: center;
}
body {
  background-color: azure;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media (max-width: 769px) {
  body {
    gap: 10px;
  }

  .App {
    gap: 10px;
  }
}